<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Eğitim Ağacı</title>
</head>

<body>
    <%- include('./include/head-menu') %>
        <%- include('./include/header') %>
            <%- include('./include/navigation') %>
                <div class="middle">
                    <div class="content">
                        <div class="stage-1" type="instructors">
                            <h1>Eğitmenler</h1>
                            <div class="instructors">
                                <% instructor.forEach(element=> { %>
                                    <% if(element.educationType=='instructor' ) {%>
                                        <div class="instructor">
                                            <div class="photo">
                                                <img src="<%- element.avatar %>" alt="">
                                            </div>
                                            <div class="name">
                                                <p><%- element.name %></p>
                                            </div>
                                            <div class="category">
                                                <p><%- element.job %></p>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>

                            </div>
                        </div>
                    </div>
                </div>
</body>
<script src="/js/pages/home.js"></script>

</html>